<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467818497181-vlg3kehm58osm63grgorsqtmk398ar53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467818497181-vlg3kehm58osm63grgorsqtmk398ar53</string>
	<key>API_KEY</key>
	<string>AIzaSyCIIlR7VTHxkc-1qKkgyNZux6Gu52n5sgw</string>
	<key>GCM_SENDER_ID</key>
	<string>467818497181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Travel.Travel</string>
	<key>PROJECT_ID</key>
	<string>travelme-12bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>travelme-12bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467818497181:ios:54dff715bdd20061838074</string>
	<key>DATABASE_URL</key>
	<string>https://travelme-12bc8.firebaseio.com</string>
</dict>
</plist>